body{
     margin: 0px;
     padding: 0px;
     margin: 0px;
     padding: 0px;
    
     
}
#body1{
    background-color: white;
    width: 1500px;
    height: 70px;
    margin: 0 auto;
    padding: 0px;
   
}

#body2{
    background: linear-gradient(to bottom, #e97dda 0%, #3335bd 100%);
    width: 1500px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    display: flex;
   align-items: center;
   justify-content: center;
}

#body3{
    
    background-color: white;
    width: 1500px;
    height: 500px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    

    
}

#body4{
    background: linear-gradient(to bottom, #e97dda 0%, #3335bd 100%);
    width: 1500px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#body5{
    background-color: white;
    width: 1500px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.topp{
    position: relative;
    float: right;
    margin-top: 1 px;
    padding-right: 20px;
    padding-left: 10px;
    
    
}
.mainhead{

    top: 20px;
}
#logo{
    float: left;
    width: 200px;
    height: 50px;
    margin: 10px 10px 10px 10px;
 
} 
#contaner1{
    background-color: white;
    width: 500px;
    height: 200px;
    border-radius: 8px;
    margin: 0 auto;
    
}
#h{
    color: white;
    position: relative;
    
    text-align: center;

    
}
#contaner2{
    background-color: rgb(63, 14, 196);
    width: 200px;
    height: 50px;
    border-radius: 8px;
    text-align: center;

     margin: 0 auto;  /* change krna h */
     
    
}

#contbody3{
    position: relative;
    width: 720px;
    height: 445px;
    margin: 0 auto;
    background: rgb(214, 214, 213);
    float: left;
    margin: 10px;
    
    text-align: center;
    
}
 .box{
    position: relative;
    background: white;
    
    width: 300px;
    height: 100px;

 
    
    padding: 15px;
    margin: auto;
    
   
    text-align: center;
    margin: 20px;

}

 

#body4cont{
    position: relative;
    width: 720px;
    height: 345px;
    margin-top: 50px;
    margin:  auto;
    border-radius: 8px;
    
    background: rgb(243, 241, 237);
    margin: 10px;
}
#txt{
    margin: 30px 30px 30px 30px;
}

#b4c{
    background: #3335bd;
    width: 150px;
    height: 50px;
    margin: 30px;
    border-radius: 8px;

}

#lm{
    text-align: center;
    color: antiquewhite;
}

#b5cantner{
    position: relative;
    width: 720px;
    height: 345px;
    margin-top: 50px;
    margin: 0 auto;
    border-radius: 8px;
    
    background: rgb(190, 189, 186);
    margin: 10px;

}

#lst{
    margin: 10px ;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fname{
    height: 30px;
    width: 500px;
    margin: 5px 10px;
}
#hh{
    color: black;
    position: relative;
    
    text-align: center;
   
}

#feeling{
    background: rgb(214, 214, 213);

    width: 100px;
    float: left;
    height: 20px;
    margin: 30px;
    border-radius: 8px;   
}

#msg{
    height: 70px;
    width: 500px;
    margin: 5px 10px;

}

@media(max-width:768px){
    h1{
        color: #e97dda;
        
        
    }
    h3{
        color: aqua;
    }
    #body1{
        width: 100%;
       
    }
    #body2{
        width: 100%;
       
    }
    #body3{
        width: 100%;
       
    }
    #body4{
        width: 100%;
       
    }

    #body5{
        width: 100%;
       
    }
    #contbody3{
        width: 100%;
    }   
    #b5cantner{
        width: 100%;
    }
    .topp{
        width: 100%;
    }
    .mainhead{
        width: 100%;
    }
    
    
}